Django==6.1
djangorestframework==3.18.0
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
psycopg2-binary==2.9.12
openpyxl==3.1.5
xlrd==2.0.1
websockets==17.1
pyxlsb==1.0.10
python-pptx==1.0.2
Pillow==12.3.0
